<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="KantinPro.Properties.Settings.KantinProConnectionString"
        connectionString="Data Source=DESKTOP-OOQFRQL;Initial Catalog=KantinPro;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
        providerName="System.Data.SqlClient" />
    <add name="KantinPro.Properties.Settings.KantinProConnectionString1"
        connectionString="Data Source=AB03300-0346;Initial Catalog=KantinPro;User ID=sa;Password=Fn1610*?;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
